<head>
  <title>Smart Error Page</title>

  <script>
    addEventListener("load", function () { setTimeout(hideURLbar, 0); }, false);
    function hideURLbar() { window.scrollTo(0, 1); } 
  </script>

  <!-- online-fonts -->
  <link href="//fonts.googleapis.com/css?family=Ropa+Sans:400,400i&amp;subset=latin-ext" rel="stylesheet" />
  <!--//online-fonts -->
</head>

<body>
  <div class="w3-main">
    <div class="agile-info">
      <h3>SORRY</h3>
      <h2><img src="./assets/confused.gif" alt="image" /></h2>
      <p>An error Occurred in the Application And Your Page could not be Served.</p>
      <a href="#">go back</a>
    </div>
  </div>
  <div class="footer-w3l">
    <p>&copy;
      <script type="text/javascript">
        document.write(new Date().getFullYear());
      </script>
  </div>
</body>
